@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "roboto", sans-serif;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

#noteTitle,
#create,
#noteText {
  font-size: 1.5rem;
}

fieldset {
  width: fit-content;
  margin: 0 auto;
}

.note {
  background-color: lightgoldenrodyellow;
  text-align: left;
  font-size: 1.2rem;
}
